{% extends 'base.html' %}

 {% block content %}

  <h1>My Watch List</h1>

  <table>
    <tr>
      <th>Watched?</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for movie in watchlist %}
    <tr>
        <th>{{movie.watched}}</th>
        <th>{{movie.title}}</th>
        <th>{{movie.rating}}</th>
        <th>{{movie.release_date}}</th>
        <th>{{movie.review}}</th>
    </tr>
    {% endfor %}
  </table>

 {% endblock content %}
